*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#button_play{
    width: 3rem;
    height: 1.5rem;
}

.container{
    background-color: #7fffd4;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_game{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.quadrato{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid white;
    
}

.footer{
    display: flex;
    align-items: center;
    height: 55px;
}

.edit{
    margin-left: 4rem;
}